<!DOCTYPE html>
<html>

<head>
  <%- include('head') %>
</head>

<body>
  <%- include('nav') %>
  <main>
    <header>
      Bookmarks
    </header>
    <p>A place to keep all your links, organise and share them.</p>
    <p><a href="/login">Sign In</a> or <a href="/sign-up">Sign Up</a></p>
  </main>
</body>

</html>