<!DOCTYPE html>
<html>
<head>
  <%- include('head') %>
</head>
<body>
  <main>
    <header>Bookmarks</header>
    <section>
      <header>Please log in</header>
      <form method="post" action="/">
        <button type="submit">Continue</button>
      </form>
    </section>
</body>
</html>