.cards{
    margin:auto;
    padding: 10px;
    width:90%;
    background-color: grey;
    border-radius: 5px;
}

.cards section{
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
    width:80%;
    background-color: white;
    border:black solid 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

.cards section header{
    text-align: center;
    font-weight: bold;
}

.cards section header a{
    text-decoration: none;
    color: black;
}

.cards section ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
  }
  
.cards section li {
    float: left;
    padding: 4px;
    margin:2px;
    background-color: darkred;
    color: white;
    border-radius: 5px;
  }